Repository carresemata/xtillion_healthgrades_migration, pull requests merged in 2024-06, with the labels that each got.

#201 Base.ProviderToClinicalFocus Validation
  migration_original/ODS1Stage/tables/Base/ProviderToClinicalFocus/BASE.PROVIDERTOCLINICALFOCUS-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToClinicalFocus/spu_translated_ProviderToClinicalFocus.sql
Labels: validation, base schema

#214 Base.ProviderToProviderType Validation
  migration_original/ODS1Stage/tables/Base/ProviderToProviderType/Base.PROVIDERTOPROVIDERTYPE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToProviderType/spu_translated_ProviderToProviderType.sql
Labels: validation, base schema

#212 Base.ProviderToSubStatus Validation
  migration_original/ODS1Stage/tables/Base/ProviderToSubStatus/Base.PROVIDERTOSUBSTATUS-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToSubStatus/spu_translated_ProviderToSubStatus.sql
Labels: validation, base schema

#205 show.providerattributemetadata
  migration_original/ODS1Stage/tables/Show/ProviderAttributeMetadata/SHOW.PROVIDERATTRIBUTEMETADATA-report.md
  migration_original/ODS1Stage/tables/Show/ProviderAttributeMetadata/spu_translated_ProviderAttributeMetadata.sql
Labels: validation, show schema

#184 debug_base_providermalpractice
  migration_original/ODS1Stage/tables/Base/ProviderMalpractice/BASE.PROVIDERMALPRACTICE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderMalpractice/spu_translated_ProviderMalpractice.sql
Labels: validation, base schema

#198 base.providertospecialty
  migration_original/ODS1Stage/tables/Base/ProviderToSpecialty/BASE.PROVIDERTOSPECIALTY-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToSpecialty/spu_translated_ProviderToSpecialty.sql
Labels: validation, base schema

#199 debug_providervideo
  migration_original/ODS1Stage/tables/Base/ProviderVideo/BASE.PROVIDERVIDEO-report.md
  migration_original/ODS1Stage/tables/Base/ProviderVideo/spu_translated_ProviderVideo.sql
Labels: validation, base schema

#210 Base.ProviderIdentification Validation
  migration_original/ODS1Stage/tables/Base/ProviderIdentification/BASE.PROVIDERIDENTIFICATION-report.md
  migration_original/ODS1Stage/tables/Base/ProviderIdentification/spu_translated_ProviderIdentification.sql
Labels: validation, base schema

#204 Base.ClientProductToCallCenter Validation
  migration_original/ODS1Stage/tables/Base/ClientProductToCallCenter/BASE.CLIENTPRODUCTTOCALLCENTER-report.md
  migration_original/ODS1Stage/tables/Base/ClientProductToCallCenter/spu_translated_ClientProductToCallCenter.sql
Labels: validation, base schema

#215 Mid.ProviderMalpractice
  migration_original/ODS1Stage/tables/Mid/ProviderMalpractice/Mid.PROVIDERMALPRACTICE-report.md
Labels: validation, mid schema

#208 Mid.ProviderEducation Validation
  migration_original/ODS1Stage/tables/Mid/ProviderEducation/MID.PROVIDEREDUCATION-report.md
Labels: validation, mid schema

#218 debug base.clientfeatvalue
  migration_original/ODS1Stage/tables/Base/ClientFeatureToClientFeatureValue/BASE.CLIENTFEATURETOCLIENTFEATUREVALUE-report.md
  migration_original/ODS1Stage/tables/Base/ClientFeatureToClientFeatureValue/spu_translated_ClientFeatureToClientFeatureValue.sql
Labels: validation, base schema

#209 Mid.ProviderHealthInsurance Validation
  migration_original/ODS1Stage/tables/Mid/ProviderHealthInsurance/MID.PROVIDERHEALTHINSURANCE-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderHealthInsurance/spu_translated_ProviderHealthInsurance.sql
Labels: validation, mid schema

#216 base_clientproducttoentity
  migration_original/ODS1Stage/tables/Base/ClientProductToEntity/BASE.CLIENTPRODUCTTOENTITY-report.md
  migration_original/ODS1Stage/tables/Base/ClientProductToEntity/spu_translated_ClientProductToEntity.sql
Labels: validation, base schema

#206 Base.TelehealthMethod Validation
  migration_original/ODS1Stage/tables/Base/TelehealthMethod/BASE.TELEHEALTHMETHOD-report.md
  migration_original/ODS1Stage/tables/Base/TelehealthMethod/spu_translated_TelehealthMethod.sql
Labels: validation, base schema

#211 Base.ProviderTraining Validation
  migration_original/ODS1Stage/tables/Base/ProviderTraining/BASE.PROVIDERTRAINING-report.md
  migration_original/ODS1Stage/tables/Base/ProviderTraining/spu_translated_ProviderTraining.sql
Labels: validation, base schema

#213 Base.ProviderToProviderSubType Validation
  migration_original/ODS1Stage/tables/Base/ProviderToProviderSubType/Base.PROVIDERTOPROVIDERSUBTYPE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToProviderSubType/spu_translated_ProviderToProviderSubType.sql
Labels: validation, base schema

#203 debug base.officetoaddress
  migration_original/ODS1Stage/tables/Base/OfficeToAddress/BASE.OFFICETOADDRESS-report.md
  migration_original/ODS1Stage/tables/Base/OfficeToAddress/spu_translated_OfficeToAddress.sql
Labels: validation, base schema

#200 Base.ProviderToEducationInstitution Validation
  migration_original/ODS1Stage/tables/Base/ProviderToEducationInstitution/BASE.PROVIDERTOEDUCATIONINSTITUTION-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToEducationInstitution/spu_translated_ProviderToEducationInstitution.sql
Labels: validation, base schema

#195 providertoorganization
  migration_original/ODS1Stage/tables/Base/ProviderLastUpdateDate/spu_translated_ProviderLastUpdateDate.sql
  migration_original/ODS1Stage/tables/Base/ProviderToOrganization/spu_check_ProviderToOrganization.txt
  migration_original/ODS1Stage/tables/Base/ProviderToOrganization/spu_original_ProviderToOrganization.txt
  migration_original/ODS1Stage/tables/Base/ProviderToOrganization/spu_translated_ProviderToOrganization.sql
Labels: validation, base schema

#226 Mid.ProviderRecognition Validation
  migration_original/ODS1Stage/tables/Mid/ProviderRecognition/MID.PROVIDERRECOGNITION-report.md
Labels: validation, mid schema

#230 base.providervideo
  migration_original/ODS1Stage/tables/Base/ProviderVideo/BASE.PROVIDERVIDEO-report (1).md
  migration_original/ODS1Stage/tables/Base/ProviderVideo/spu_translated_ProviderVideo.sql
Labels: validation, base schema

#228 base.image
  migration_original/ODS1Stage/tables/Base/Image/BASE.IMAGE-report.md
  migration_original/ODS1Stage/tables/Base/Image/spu_translated_Image.sql
Labels: validation, base schema

#229 base.officehours
  migration_original/ODS1Stage/tables/Base/OfficeHours/BASE.OFFICEHOURS-report.md
  migration_original/ODS1Stage/tables/Base/OfficeHours/spu_translated_OfficeHours.sql
Labels: validation, base schema

#222 Base.clientfeaturetoclientfeaturevalue
  migration_original/ODS1Stage/tables/Base/ClientFeatureToClientFeatureValue/BASE.CLIENTFEATURETOCLIENTFEATUREVALUE-report (1).md
  migration_original/ODS1Stage/tables/Base/ClientFeatureToClientFeatureValue/spu_translated_ClientFeatureToClientFeatureValue.sql
Labels: validation, base schema

#235 Base provtospec
  migration_original/ODS1Stage/tables/Base/ProviderToSpecialty/BASE.PROVIDERTOSPECIALTY-report (1).md
  migration_original/ODS1Stage/tables/Base/ProviderToSpecialty/spu_translated_ProviderToSpecialty.sql
Labels: validation, base schema

#233 base.providertotelehealthmethod
  migration_original/ODS1Stage/tables/Base/ProviderToTelehealthMethod/BASE.PROVIDERTOTELEHEALTHMETHOD-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToTelehealthMethod/spu_translated_ProviderToTelehealthMethod.sql
Labels: validation, base schema

#223 refactored xmls
  migration_original/ODS1Stage/tables/Base/ProviderLastUpdateDate/spu_translated_ProviderLastUpdateDate.sql
  migration_original/ODS1Stage/tables/Base/ProviderToMAPCustomerProduct/spu_translated_ProviderToMAPCustomerProduct.sql
  migration_original/ODS1Stage/tables/Mid/Facility/spu_translated_Facility.sql
  migration_original/ODS1Stage/tables/Mid/ProviderFacility/spu_translated_ProviderFacility.sql
  migration_original/ODS1Stage/tables/Mid/ProviderSponsorship/spu_translated_ProviderSponsorship.sql
  migration_original/ODS1Stage/tables/Show/SOLRAutosuggestRefData/spu_translated_SOLRAutosuggestRefData.sql
  migration_original/ODS1Stage/tables/Show/SOLRFacility/spu_translated_SOLRFacility.sql
  migration_original/ODS1Stage/tables/Show/SOLRPractice/spu_translated_SOLRPractice.sql
  migration_original/refactor_xmls.py
Labels: util, xml

#234 Mid.ProviderPracticeOffice Validation
  migration_original/ODS1Stage/tables/Mid/ProviderPracticeOffice/MID.PROVIDERPRACTICEOFFICE-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderPracticeOffice/spu_translated_ProviderPracticeOffice.sql
Labels: validation, mid schema

#224 Mid.ProviderProcedure Validation
  migration_original/ODS1Stage/tables/Mid/ProviderProcedure/MID.PROVIDERPROCEDURE-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderProcedure/spu_original_ProviderProcedure.txt
  migration_original/ODS1Stage/tables/Mid/ProviderProcedure/spu_translated_ProviderProcedure.sql
Labels: validation, mid schema

#238 Mid.PartnerEntity
  migration_original/ODS1Stage/tables/Mid/PartnerEntity/MID.PARTNERENTITY-report.md
  migration_original/ODS1Stage/tables/Mid/PartnerEntity/spu_translated_PartnerEntity.sql
Labels: validation, mid schema

#240 Mid.GeographicArea
  migration_original/ODS1Stage/tables/Mid/GeographicArea/MID.GEOGRAPHICAREA-report.md
Labels: validation, mid schema

#242 Mid.LineOfService Validation
  migration_original/ODS1Stage/tables/Mid/LineOfService/MID.LINEOFSERVICE-report.md
  migration_original/ODS1Stage/tables/Mid/LineOfService/spu_translated_LineOfService.sql
Labels: validation, mid schema

#243 base.client
  migration_original/ODS1Stage/tables/Base/Client/BASE.CLIENT-report (1).md
  migration_original/ODS1Stage/tables/Base/Client/spu_translated_Client.sql
Labels: validation, base schema

#250 base.facilitytofacilitytype
  migration_original/ODS1Stage/tables/Base/FacilityToFacilityType/spu_translated_FacilityToFacilityType.sql
Labels: validation, base schema

#249 base.facilitytoaddress
  migration_original/ODS1Stage/tables/Base/FacilityToAddress/spu_translated_FacilityToAddress.sql
Labels: validation, base schema

#247 base.facilityimage
  migration_original/ODS1Stage/tables/Base/FacilityImage/spu_translated_FacilityImage.sql
Labels: validation, base schema

#251 Mid.ProviderLanguage Validation
  migration_original/ODS1Stage/tables/Mid/ProviderLanguage/MID.PROVIDERLANGUAGE-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderLanguage/spu_translated_ProviderLanguage.sql
Labels: validation, mid schema

#253 Mid.ProviderLicense Validation
  migration_original/ODS1Stage/tables/Mid/ProviderLicense/MID.PROVIDERLICENSE-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderLicense/spu_translated_ProviderLicense.sql
Labels: validation, mid schema

#255 base.provideremail
  migration_original/ODS1Stage/tables/Base/ProviderEmail/BASE.PROVIDEREMAIL-report (1).md
  migration_original/ODS1Stage/tables/Base/ProviderEmail/spu_translated_ProviderEmail.sql
Labels: validation, base schema

#260 Show.SOLRGeographicAreaDelta Validation
  migration_original/ODS1Stage/tables/Show/SOLRGeographicAreaDelta/SHOW.SOLRGEOGRAPHICAREADELTA-report.md
Labels: validation, show schema

#168 degree
  migration_original/ODS1Stage/tables/Base/Degree/BASE.DEGREE-report.md
  migration_original/ODS1Stage/tables/Base/Degree/spu_translated_Degree.sql
Labels: validation, base schema

#186 base.address
  migration_original/ODS1Stage/tables/Base/Address/BASE.ADDRESS-report.md
  migration_original/ODS1Stage/tables/Base/Address/spu_translated_Address.sql
  migration_original/ODS1Stage/tables/Base/CityStatePostalCode/spu_translated_CityStatePostalCode.sql
Labels: validation, base schema

#217 base.phone
  migration_original/ODS1Stage/tables/Base/Phone/BASE.PHONE-report (1).md
  migration_original/ODS1Stage/tables/Base/Phone/spu_translated_Phone.sql
Labels: validation, base schema

#220 cliententitytoclientfeature
  migration_original/ODS1Stage/tables/Base/ClientEntityToClientFeature/BASE.CLIENTENTITYTOCLIENTFEATURE-report (1).md
  migration_original/ODS1Stage/tables/Base/ClientEntityToClientFeature/spu_translated_ClientEntityToClientFeature.sql
Labels: validation, base schema

#237 base.clientproductentityrelationship
  migration_original/ODS1Stage/tables/Base/ClientProductEntityRelationship/BASE.CLIENTPRODUCTENTITYRELATIONSHIP-report.md
  migration_original/ODS1Stage/tables/Base/ClientProductEntityRelationship/spu_translated_ClientProductEntityRelationship.sql
Labels: validation, base schema

#225 base.citystatepostalcode
  migration_original/ODS1Stage/tables/Base/CityStatePostalCode/BASE.CITYSTATEPOSTALCODE-report (1).md
  migration_original/ODS1Stage/tables/Base/CityStatePostalCode/spu_translated_CityStatePostalCode.sql
Labels: validation, base schema

#268 Show.LineOfService Validation
  migration_original/ODS1Stage/tables/Show/SOLRLineOfService/SHOW.SOLRLINEOFSERVICE-report.md
  migration_original/ODS1Stage/tables/Show/SOLRLineOfService/spu_translated_SOLRLineOfService.sql
  migration_original/ODS1Stage/tables/Show/SOLRLineOfServiceDelta/SHOW.SOLRLINEOFSERVICEDELTA-report.md
Labels: documentation, validation, show schema

#241 base.clientproductentitytophone
  migration_original/ODS1Stage/tables/Base/ClientProductEntityToPhone/BASE.CLIENTPRODUCTENTITYTOPHONE-report.md
  migration_original/ODS1Stage/tables/Base/ClientProductEntityToPhone/spu_translated_ClientProductEntityToPhone.sql
Labels: validation, base schema

#245 base.clientproducttopartner
  migration_original/ODS1Stage/tables/Base/ClientProductToPartner/BASE.CLIENTPRODUCTTOPARTNER-report.md
  migration_original/ODS1Stage/tables/Base/ClientProductToPartner/spu_translated_ClientProductToPartner.sql
Labels: validation, base schema

#246 base.clienttoproduct
  migration_original/ODS1Stage/tables/Base/ClientToProduct/spu_translated_ClientToProduct.sql
Labels: validation, base schema

#271 Show.SOLRTreatmentEntryLevel Validation
  migration_original/ODS1Stage/tables/Show/SOLRTreatmentEntryLevel/SHOW.SOLRTREATMENTENTRYLEVEL-report.md
  migration_original/ODS1Stage/tables/Show/SOLRTreatmentEntryLevel/spu_translated_SOLRTreatmentEntryLevel.sql
Labels: validation, show schema

#202 Base.ProviderToClientProductToDisplayPartner Validation
  migration_original/ODS1Stage/tables/Base/ProviderToClientProductToDisplayPartner/BASE.PROVIDERTOCLIENTPRODUCTTODISPLAYPARTNER-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToClientProductToDisplayPartner/spu_translated_ProviderToClientProductToDisplayPartner.sql
Labels: validation, base schema

#248 Mid.ProviderCondition Validation
  migration_original/ODS1Stage/tables/Mid/ProviderCondition/MID.PROVIDERCONDITION-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderCondition/spu_translated_ProviderCondition.sql
Labels: validation, mid schema

#252 base.office
  migration_original/ODS1Stage/tables/Base/Office/BASE.OFFICE-report.md
  migration_original/ODS1Stage/tables/Base/Office/spu_translated_Office.sql
Labels: validation, base schema

#254 base.officetoaddress
  migration_original/ODS1Stage/tables/Base/OfficeToAddress/BASE.OFFICETOADDRESS-report.md
  migration_original/ODS1Stage/tables/Base/OfficeToAddress/spu_translated_OfficeToAddress.sql
Labels: validation, base schema

#272 base.provappointavailablity
  migration_original/ODS1Stage/tables/Base/ProviderToAppointmentAvailability/BASE.PROVIDERTOAPPOINTMENTAVAILABILITY-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToAppointmentAvailability/spu_translated_ProviderToAppointmentAvailability.sql
Labels: validation, base schema

#256 base.market
  migration_original/ODS1Stage/tables/Base/Market/spu_check_Market.txt
  migration_original/ODS1Stage/tables/Base/Market/spu_original_Market.txt
  migration_original/ODS1Stage/tables/Base/Market/spu_translated_Market.sql
Labels: validation, base schema

#257 Provideridentification
  migration_original/ODS1Stage/tables/Base/ProviderIdentification/BASE.PROVIDERIDENTIFICATION-report.md
  migration_original/ODS1Stage/tables/Base/ProviderIdentification/spu_translated_ProviderIdentification.sql
Labels: validation, base schema

#258 Providerimage
  migration_original/ODS1Stage/tables/Base/ProviderImage/BASE.PROVIDERIMAGE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderImage/spu_translated_ProviderImage.sql
Labels: validation, base schema

#259 Provlicense
  migration_original/ODS1Stage/tables/Base/ProviderLicense/BASE.PROVIDERLICENSE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderLicense/spu_translated_ProviderLicense.sql
Labels: validation, base schema

#261 Provmalpractice
  migration_original/ODS1Stage/tables/Base/ProviderMalpractice/BASE.PROVIDERMALPRACTICE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderMalpractice/spu_translated_ProviderMalpractice.sql
Labels: validation, base schema

#262 Providermedia
  migration_original/ODS1Stage/tables/Base/ProviderMedia/BASE.PROVIDERMEDIA-report.md
  migration_original/ODS1Stage/tables/Base/ProviderMedia/spu_translated_ProviderMedia.sql
Labels: validation, base schema

#265 base.providerspecialtyzscore
  migration_original/ODS1Stage/tables/Base/ProviderSpecialtyZScore/spu_check_ProviderSpecialtyZScore.txt
  migration_original/ODS1Stage/tables/Base/ProviderSpecialtyZScore/spu_original_ProviderSpecialtyZScore.txt
  migration_original/ODS1Stage/tables/Base/ProviderSpecialtyZScore/spu_translated_ProviderSpecialtyZScore.sql
Labels: validation, base schema, deprecated

#266 base.provredirect
  migration_original/ODS1Stage/tables/Base/ProviderRedirect/spu_check_ProviderRedirect.txt
  migration_original/ODS1Stage/tables/Base/ProviderRedirect/spu_original_ProviderRedirect.txt
  migration_original/ODS1Stage/tables/Base/ProviderRedirect/spu_translated_ProviderRedirect.sql
Labels: validation, base schema, deprecated

#269 base.provsurveysuppression
  migration_original/ODS1Stage/tables/Base/ProviderSurveySuppression/BASE.PROVIDERSURVEYSUPPRESSION-report.md
  migration_original/ODS1Stage/tables/Base/ProviderSurveySuppression/spu_translated_ProviderSurveySuppression.sql
Labels: validation, base schema

#274 base.providertoclinicalfocus
  migration_original/ODS1Stage/tables/Base/ProviderToClinicalFocus/BASE.PROVIDERTOCLINICALFOCUS-report (1).md
  migration_original/ODS1Stage/tables/Base/ProviderToClinicalFocus/spu_translated_ProviderToClinicalFocus.sql
Labels: validation, base schema

#275 base.providertodegree
  migration_original/ODS1Stage/tables/Base/ProviderToDegree/BASE.PROVIDERTODEGREE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToDegree/spu_translated_ProviderToDegree.sql
Labels: validation, base schema

#276 base.providertofacility
  migration_original/ODS1Stage/tables/Base/ProviderToFacility/BASE.PROVIDERTOFACILITY-report (1).md
  migration_original/ODS1Stage/tables/Base/ProviderToFacility/spu_translated_ProviderToFacility.sql
Labels: validation, base schema

#277 base.providertohealthinsurance
  migration_original/ODS1Stage/tables/Base/ProviderToHealthInsurance/BASE.PROVIDERTOHEALTHINSURANCE-report (1).md
  migration_original/ODS1Stage/tables/Base/ProviderToHealthInsurance/spu_translated_ProviderToHealthInsurance.sql
Labels: validation, base schema

#285 Show.SOLRAutosuggestRefData Validation
  migration_original/ODS1Stage/tables/Show/SOLRAutosuggestRefData/SHOW.SOLRAUTOSUGGESTREFDATA-report.md
  migration_original/ODS1Stage/tables/Show/SOLRAutosuggestRefData/spu_translated_SOLRAutosuggestRefData.sql
Labels: validation, show schema

#286 base.providerlastupdatedate
  migration_original/ODS1Stage/tables/Base/ProviderLastUpdateDate/BASE.PROVIDERLASTUPDATEDATE-report.md
  migration_original/ODS1Stage/tables/Base/ProviderLastUpdateDate/spu_translated_ProviderLastUpdateDate.sql
Labels: validation, base schema

#287 Mid.ProviderSpecialtyFacilityServiceLineRating
  migration_original/ODS1Stage/tables/Mid/ProviderSpecialtyFacilityServiceLineRating/MID.PROVIDERSPECIALTYFACILITYSERVICELINERATING-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderSpecialtyFacilityServiceLineRating/spu_translated_ProviderSpecialtyFacilityServiceLineRating.sql
Labels: validation, mid schema

#231 base.partnertoentity
  migration_original/ODS1Stage/tables/Base/PartnerToEntity/BASE.PARTNERTOENTITY-report.md
  migration_original/ODS1Stage/tables/Base/PartnerToEntity/spu_translated_PartnerToEntity.sql
Labels: validation, base schema

#288 create final clean folders
  migration_original/other/create_final_folder.py
  migration_original/other/sp_dependencies.json
  migration_original/other/table_dependencies.json
Labels: documentation

#290 base.providerwithsponsorshipissues
  migration_original/ODS1Stage/tables/Base/ProvidersWithSponsorshipIssues/spu_check_ProvidersWithSponsorshipIssues.txt
  migration_original/ODS1Stage/tables/Base/ProvidersWithSponsorshipIssues/spu_original_ProvidersWithSponsorshipIssues.txt
  migration_original/ODS1Stage/tables/Base/ProvidersWithSponsorshipIssues/spu_translated_ProvidersWithSponsorshipIssues.sql
Labels: base schema, deprecated

#292 OfficeSpecialty cleanup
  migration_original/ODS1Stage/tables/Mid/OfficeSpecialty/spu_translated_OfficeSpecialty.sql
Labels: enhancement

#293 Fix mid cte action
  migration_original/ODS1Stage/tables/Base/Practice/spu_translated_Practice.sql
  migration_original/ODS1Stage/tables/Mid/GeographicArea/spu_translated_GeographicArea.sql
  migration_original/ODS1Stage/tables/Mid/PartnerEntity/spu_translated_PartnerEntity.sql
  migration_original/ODS1Stage/tables/Mid/ProviderAffiliation/spu_translated_ProviderAffiliation.sql
  migration_original/ODS1Stage/tables/Mid/ProviderEducation/spu_translated_ProviderEducation.sql
  migration_original/ODS1Stage/tables/Mid/ProviderFacility/spu_translated_ProviderFacility.sql
  migration_original/ODS1Stage/tables/Mid/ProviderMalpractice/spu_translated_ProviderMalpractice.sql
  migration_original/ODS1Stage/tables/Mid/ProviderPracticeOffice/spu_translated_ProviderPracticeOffice.sql
  migration_original/ODS1Stage/tables/Mid/ProviderRecognition/spu_translated_ProviderRecognition.sql
  migration_original/ODS1Stage/views/Base/vwuPDCClientDetail/spu_translated_vwuPDCClientDetail.sql
  migration_original/ODS1Stage/views/Base/vwuProviderSpecialty/spu_original_vwuProviderSpecialty.txt
  migration_original/ODS1Stage/views/Base/vwuProviderSpecialty/spu_translated_vwuProviderSpecialty.sql
  migration_original/ODS1Stage/views/Base/vwuProviderToSpecialty/spu_original_vwuProviderToSpecialty.txt
  migration_original/ODS1Stage/views/Base/vwuProviderToSpecialty/spu_translated_vwuProviderToSpecialty.sql
  migration_original/ODS1Stage/views/ermart1/facility_vwufacilityhgdisplayprocedures/spu_translated_facility_vwufacilityhgdisplayprocedures.sql
  migration_original/audit_sp_dependencies.json
  migration_original/other/audit_dependencies.py
  migration_original/other/audit_sp_dependencies.json
  migration_original/other/audit_table_dependencies.json
  migration_original/other/views_dependencies.json
Labels: enhancement, mid schema

#221 base.officetophone
  migration_original/ODS1Stage/tables/Base/OfficeToPhone/BASE.OFFICETOPHONE-report.md
  migration_original/ODS1Stage/tables/Base/OfficeToPhone/spu_translated_OfficeToPhone.sql
Labels: validation, base schema

#282 mid.providersanction
  migration_original/ODS1Stage/tables/Mid/ProviderSanction/MID.PROVIDERSANCTION-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderSanction/spu_translated_ProviderSanction.sql
Labels: validation, mid schema

#289 base.providertodisplayspecialty
  migration_original/ODS1Stage/tables/Base/ProviderToDisplaySpecialty/BASE.PROVIDERTODISPLAYSPECIALTY-report.md
  migration_original/ODS1Stage/tables/Base/ProviderToDisplaySpecialty/spu_translated_ProviderToDisplaySpecialty.sql
Labels: validation, base schema

#284 mid.practice
  migration_original/ODS1Stage/tables/Mid/Practice/MID.PRACTICE-report.md
  migration_original/ODS1Stage/tables/Mid/Practice/spu_translated_Practice.sql
Labels: validation, mid schema

#296 Final External/Static Dependencies
  migration_original/other/external_dependencies.py
Labels: enhancement

#295 mid_facility
  migration_original/ODS1Stage/tables/Mid/Facility/MID.FACILITY-report.md
  migration_original/ODS1Stage/tables/Mid/Facility/spu_translated_Facility.sql
Labels: validation, mid schema

#301 fix lastupdatedate
  migration_original/ODS1Stage/tables/Base/ProviderLastUpdateDate/spu_translated_ProviderLastUpdateDate.sql
Labels: bug

#302 mid.providerfacility validation
  migration_original/ODS1Stage/tables/Mid/ProviderFacility/MID.PROVIDERFACILITY-report.md
  migration_original/ODS1Stage/tables/Mid/ProviderFacility/spu_translated_ProviderFacility.sql
Labels: validation, mid schema
